In [1]:
import pandas

In [2]:
!which python

/Users/mattrosinski/mambaforge/bin/python

In [3]:
# pandas.show_versions()

In [4]:
series = {
    'index':[0, 1, 2, 3, 4],
    'data':[148, 142, 5, 9, 21],
    'name':'songs'
}

In [5]:
type(series)

dict

In [6]:
def get(series, idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

In [7]:
get(series, 4)

21

This seems like a doubleup.  Why index into index with itself?

In [8]:
series['index'].index(1)

1

In [9]:
songs = {
    'index':['Paul', 'John', 'George', 'Ringo'],
    'data':[145, 142, 38, 13],
    'name':'counts'
}

In [10]:
get(songs, 'Paul')

145

In [11]:
get(songs, 'Ringo')

13

The trick is that now we have a way to convert any index to an integer key

In [12]:
songs['index'].index('Ringo')

3

In [13]:
songs['index'].index('Paul')

0

When there are duplicates in the index the first index is returned

In [14]:
import pandas as pd

In [15]:
song2 = pd.Series([145, 142, 38, 13],
                 name='counts')

In [16]:
song2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [17]:
song2.values

array([145, 142,  38,  13])

In [18]:
song2.name

'counts'

In [19]:
song2.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
songs3 = pd.Series([145, 142, 38, 13],
                  name = 'counts',
                  index = ['Paul', 'John', 'George', 'Ringo'])

In [21]:
songs3.values

array([145, 142,  38,  13])

In [22]:
songs3.name

'counts'

In [23]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [24]:
songs3['Ringo']

13

In [25]:
class Foo:
    pass

In [26]:
ringo = pd.Series(
    ['Richard', 'Starkey', 13, Foo()],
    name = 'ringo')

In [27]:
ringo

0                                 Richard
1                                 Starkey
2                                      13
3    <__main__.Foo object at 0x127bd2ca0>
Name: ringo, dtype: object

The NaN value

In [28]:
import numpy as np

In [29]:
nan_series = pd.Series([2, np.nan],
                      index=['Ono', 'Clapton'])

In [30]:
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [31]:
nan_series.count()

1

In [32]:
nan_series.isna()

Ono        False
Clapton     True
dtype: bool

In [33]:
nan_series.isna().sum()

1

In [34]:
nan_series.notna().sum()

1

In [35]:
nan_series.size

2

Regular integer types don't hold NaNs.  Capital Int64 does support nullable integers.

In [36]:
nan_series2 = pd.Series([2, None],
                        index=['Ono', 'Clapton'],
                        dtype='Int64')

In [37]:
nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [38]:
nan_series2.count()

1

In [39]:
nan_series.astype('Int64')

Ono           2
Clapton    <NA>
dtype: Int64

Up to 4.5 Similar to Numpy in **Effective pandas**

In [40]:
import numpy as np

In [41]:
numpy_ser = np.array([145, 142, 38, 13])

In [42]:
songs3[1]

142

In [43]:
numpy_ser[1]

142

In [44]:
songs3.mean()

84.5

In [45]:
numpy_ser.mean()

84.5

In [46]:
songs3[songs3 > 100]

Paul    145
John    142
Name: counts, dtype: int64

In [47]:
numpy_ser[numpy_ser > 100]

array([145, 142])

In [48]:
mask = songs3 > songs3.median()

In [49]:
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [50]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [51]:
songs3[songs3 > songs3.median()]

Paul    145
John    142
Name: counts, dtype: int64

In [52]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

## Categorical Data

In [53]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [54]:
s = pd.Series(['m', 'l', 'xs', 's', 'xl'], dtype = 'category')

In [55]:
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [56]:
s.cat.ordered

False

In [57]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'])

In [58]:
size_type = pd.api.types.CategoricalDtype(
    categories=['s', 'm', 'l'], ordered=True)

In [59]:
s3 = s2.astype(size_type)

In [60]:
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [61]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [62]:
s3 == 's'

0    False
1    False
2    False
3     True
4    False
dtype: bool

Reorder categories

In [63]:
s4 = s.cat.reorder_categories(['xs', 's', 'm', 'l', 'xl'], ordered=True)

In [64]:
s4

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [65]:
s4 > 'm'

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [66]:
s4 == 'xxl'

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [67]:
s4 < 'l'

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [68]:
s3.str.upper()

0      M
1      L
2    NaN
3      S
4    NaN
dtype: object

In [69]:
s4.str.upper()

0     M
1     L
2    XS
3     S
4    XL
dtype: object

In [70]:
colours = pd.Series(['blue', 'pink', 'green', 'yellow', 'red'], dtype = 'category')

In [71]:
colours

0      blue
1      pink
2     green
3    yellow
4       red
dtype: category
Categories (5, object): ['blue', 'green', 'pink', 'red', 'yellow']

In [72]:
c2 = colours.cat.reorder_categories(['blue', 'yellow', 'red', 'pink', 'green'], ordered=True)

In [73]:
c2

0      blue
1      pink
2     green
3    yellow
4       red
dtype: category
Categories (5, object): ['blue' < 'yellow' < 'red' < 'pink' < 'green']

In [74]:
c2 > 'pink'

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [75]:
temps = pd.Series([9, 11, 8, 14, 13, 20, 17],
                 index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                 name = 'temperatures')

In [76]:
temps > temps.mean()

Mon    False
Tue    False
Wed    False
Thu     True
Fri    False
Sat     True
Sun     True
Name: temperatures, dtype: bool

In [77]:
temps[temps > temps.mean()]

Thu    14
Sat    20
Sun    17
Name: temperatures, dtype: int64

In [78]:
temps.name

'temperatures'

In [79]:
temps

Mon     9
Tue    11
Wed     8
Thu    14
Fri    13
Sat    20
Sun    17
Name: temperatures, dtype: int64

In [80]:
temps.astype('float')

Mon     9.0
Tue    11.0
Wed     8.0
Thu    14.0
Fri    13.0
Sat    20.0
Sun    17.0
Name: temperatures, dtype: float64

In [81]:
temps[temps < temps.mean()]

Mon     9
Tue    11
Wed     8
Fri    13
Name: temperatures, dtype: int64

In [82]:
import pandas as pd

In [83]:
!wget https://www.fueleconomy.gov/feg/epadata/vehicles.csv.zip

--2022-07-05 06:27:46--  https://www.fueleconomy.gov/feg/epadata/vehicles.csv.zip
Resolving www.fueleconomy.gov (www.fueleconomy.gov)... 2620:0:2b30:115:cb69:d91:c04e:ddcc, 160.91.94.41
Connecting to www.fueleconomy.gov (www.fueleconomy.gov)|2620:0:2b30:115:cb69:d91:c04e:ddcc|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1772115 (1.7M) [application/x-zip-compressed]
Saving to: ‘vehicles.csv.zip.2’

vehicles.csv.zip.2  100%[===================>]   1.69M   189KB/s    in 35s

2022-07-05 06:28:25 (49.0 KB/s) - ‘vehicles.csv.zip.2’ saved [1772115/1772115]

In [84]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/' \
    'vehicles.csv.zip'

In [85]:
from pathlib import Path

In [86]:
Path()

PosixPath('.')

In [87]:
myFile = 'vehicles.csv.zip'

In [88]:
myFile

'vehicles.csv.zip'

In [89]:
Path.home()

PosixPath('/Users/mattrosinski')

In [90]:
Path.cwd()

PosixPath('/Users/mattrosinski/Documents/Repos/Demos/pydata-book')

In [91]:
Path.cwd().is_absolute()

True

In [92]:
path = Path('datasets', myFile)

In [93]:
path

PosixPath('datasets/vehicles.csv.zip')

In [94]:
path.name

'vehicles.csv.zip'

In [95]:
path.parent

PosixPath('datasets')

In [96]:
path.stem

'vehicles.csv'

In [97]:
path.anchor

''

## Opening csv files

In [98]:
df = pd.read_csv(path)

/var/folders/xh/wmkr9jls0634tfc2zgq5yzk40000gn/T/ipykernel_23392/3280352130.py:1: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [99]:
df.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,44986.000000,44986.000000,44986.0,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000,...,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000,44986.000000
mean,15.385055,0.191214,0.0,0.091370,18.910150,7.580773,0.837483,0.705716,0.000507,0.605526,...,23.980676,1.111413,35.094230,0.892323,2003.216423,-6363.046281,0.016305,0.267461,0.270351,0.267550
std,4.287520,0.980585,0.0,0.888165,9.578475,13.523617,6.412993,6.321745,0.037599,5.309880,...,13.629285,9.061562,12.784282,5.695110,11.993295,5648.627332,0.329937,3.748258,3.630328,3.671143
min,0.047081,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-47750.000000,0.000000,0.000000,0.000000,0.000000
25%,12.935217,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.500000,0.000000,28.000000,0.000000,1992.000000,-9500.000000,0.000000,0.000000,0.000000,0.000000
50%,14.875500,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.800000,0.000000,33.506000,0.000000,2004.000000,-5750.000000,0.000000,0.000000,0.000000,0.000000
75%,17.500588,0.000000,0.0,0.000000,21.000000,16.600000,0.000000,0.000000,0.000000,0.000000,...,26.254600,0.000000,39.690600,0.000000,2014.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
max,42.501429,16.528333,0.0,15.300000,150.000000,150.195800,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,187.100000,173.143600,2023.000000,11750.000000,9.600000,97.000000,81.000000,88.000000

In [100]:
city_mpg = df.city08

In [101]:
highway_mpg = df.highway08

In [102]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: int64

If any values are missing the type would be object

In [103]:
city_mpg[0]

19

In [104]:
city_mpg[0] = 'NaN'

/var/folders/xh/wmkr9jls0634tfc2zgq5yzk40000gn/T/ipykernel_23392/4268458168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_mpg[0] = 'NaN'

In [105]:
city_mpg

0        NaN
1          9
2         23
3         10
4         17
        ...
44981     19
44982     20
44983     18
44984     18
44985     16
Name: city08, Length: 44986, dtype: object

In [106]:
city_mpg[0] = 19

The type doesn't automatically get reset

In [107]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: object

In [108]:
city_mpg = city_mpg.astype('int64')

In [109]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: int64

## 5.2 Series Attributes

Number of attributes of a series

In [110]:
len(dir(city_mpg))

419

In [111]:
type(dir(city_mpg))

list

In [112]:
# dir(city_mpg)

### Dunder methods

In [113]:
len([match for match in dir(city_mpg) if '__' in match])

87

In [114]:
'__class__' in dir(city_mpg)

True

In [115]:
# [match for match in dir(city_mpg) if '__' in match]

### Operator methods

Allow for tweaks in addition to the numeric operations

### Conversion methods

In [116]:
[match for match in dir(city_mpg) if 'to_' in match]

['to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray']

### Manipulation methods

Return Series objects with the same index

In [117]:
[match for match in dir(city_mpg) if 'drop' in match or 'sort' in match]

['_drop_axis',
 '_drop_labels_or_levels',
 'argsort',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'searchsorted',
 'sort_index',
 'sort_values']

In [118]:
city_mpg.name

'city08'

In [119]:
city_mpg[city_mpg.sort_values() > 100]

23030    102
23031    106
23796    126
24325    106
24456    107
        ...
38743    106
38745    116
38819    103
38822    119
38914    110
Name: city08, Length: 209, dtype: int64

### Indexing and accessor methods

In [120]:
city_mpg.iloc[0]

19

In [121]:
city_mpg.loc[0]

19

### String manipulation methods

In [122]:
[match for match in dir(city_mpg) if 'str' in match]

['__str__',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 'to_string']

### Date manipulation methods

In [123]:
[match for match in dir(city_mpg) if 'dt' in match]

['_convert_dtypes', '_validate_dtype', 'convert_dtypes', 'dtype', 'dtypes']

### Plotting methods

In [124]:
[match for match in dir(city_mpg) if 'plot' in match]

['plot']

### Categorical methods

In [125]:
[match for match in dir(city_mpg) if 'cat' in match]

['_check_inplace_and_allows_duplicate_labels',
 '_duplicated',
 'drop_duplicates',
 'duplicated',
 'truncate']

### Transformation methods

In [126]:
[match for match in dir(city_mpg) if 'unstack' in match or 
 'reset_index' in match or 'agg' in match or 'transform' in match]

['_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 'agg',
 'aggregate',
 'reset_index',
 'transform',
 'unstack']

### Attributes

In [127]:
[match for match in dir(city_mpg) if 'index' in match or 'dtype' in match]

['_convert_dtypes',
 '_find_valid_index',
 '_get_index_resolvers',
 '_indexed_same',
 '_needs_reindex_multi',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_validate_dtype',
 'convert_dtypes',
 'dtype',
 'dtypes',
 'first_valid_index',
 'index',
 'last_valid_index',
 'reindex',
 'reindex_like',
 'reset_index',
 'sort_index']

### Private attributes

Many private attributes to the class that can generally be ignored for regular use

In [128]:
songs3.dtype

dtype('int64')

In [129]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [130]:
model = pd.Series(df['model'])

In [131]:
type(model)

pandas.core.series.Series

In [132]:
model.values

array(['Spider Veloce 2000', 'Testarossa', 'Charger', ..., 'Legacy AWD',
       'Legacy AWD', 'Legacy AWD Turbo'], dtype=object)

In [133]:
model.nunique()

4642

In [134]:
str_utilities = dir(model.str)

In [135]:
len(str_utilities)

99

In [136]:
# str_utilities

In [137]:
str_utilities.count('__class__')

1

In [138]:
str_utilities.pop()

'zfill'

In [139]:
len(str_utilities)

98

In [140]:
str_utilities = dir(model.str)

In [141]:
str_utilities.reverse()

In [142]:
str_utilities.reverse()

In [143]:
'endswith' in str_utilities

True

In [144]:
type(str_utilities)

list

In [145]:
model[model.str.endswith('et')]

728                        Cabriolet
809      Ferrari Mondial T/Cabriolet
810      Ferrari Mondial T/Cabriolet
1797                       Cabriolet
1798                       Cabriolet
                    ...
43535            Mondial T/Cabriolet
44641                      Cabriolet
44643                      Cabriolet
44708    Ferrari Mondial T/Cabriolet
44710    Ferrari Mondial T/Cabriolet
Name: model, Length: 324, dtype: object

In [146]:
model[model.str.startswith('Hi')]

7985                     Highlander 2WD
7986                     Highlander 2WD
8102                     Highlander 4WD
8103                     Highlander 4WD
9037                     Highlander 2WD
                      ...
38071                        Highlander
38072                 Highlander Hybrid
38077                    Highlander AWD
38107    Highlander Hybrid AWD LTD/PLAT
38108             Highlander Hybrid AWD
Name: model, Length: 112, dtype: object

In [147]:
model.str.lower().unique()

array(['spider veloce 2000', 'testarossa', 'charger', ...,
       'ferrari 348 tb/ts', 'xjrs convertble', 'xjrs coupe'], dtype=object)

In [148]:
pd.Series.unique??

Signature: pd.Series.unique(self) -> 'ArrayLike'
Source:
    def unique(self) -> ArrayLike:
        """
        Return unique values of Series object.

        Uniques are returned in order of appearance. Hash table-based unique,
        therefore does NOT sort.

        Returns
        -------
        ndarray or ExtensionArray
            The unique values returned as a NumPy array. See Notes.

        See Also
        --------
        unique : Top-level unique method for any 1-d array-like object.
        Index.unique : Return Index with unique values from an Index object.

        Notes
        -----
        Returns the unique values as a NumPy array. In case of an
        extension-array backed Series, a new
        :class:`~api.extensions.ExtensionArray` of that type with just
        the unique values is returned. This includes

            * Categorical
            * Period
            * Datetime with Timezone
            * Interval
            * Sparse
            * IntegerNA

        See Examples section.

        Examples
        --------
        >>> pd.Series([2, 1, 3, 3], name='A').unique()
        array([2, 1, 3])

        >>> pd.Series([pd.Timestamp('2016-01-01') for _ in range(3)]).unique()
        array(['2016-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

        >>> pd.Series([pd.Timestamp('2016-01-01', tz='US/Eastern')
        ...            for _ in range(3)]).unique()
        <DatetimeArray>
        ['2016-01-01 00:00:00-05:00']
        Length: 1, dtype: datetime64[ns, US/Eastern]

        An Categorical will return categories in the order of
        appearance and with the same dtype.

        >>> pd.Series(pd.Categorical(list('baabc'))).unique()
        ['b', 'a', 'c']
        Categories (3, object): ['a', 'b', 'c']
        >>> pd.Series(pd.Categorical(list('baabc'), categories=list('abc'),
        ...                          ordered=True)).unique()
        ['b', 'a', 'c']
        Categories (3, object): ['a' < 'b' < 'c']
        """
        return super().unique()
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/series.py
Type:      function

In [149]:
pd.Series.cat.reorder_categories??

Signature: pd.Series.cat.reorder_categories(self, *args, **kwargs)
Docstring:
Reorder categories as specified in new_categories.

`new_categories` need to include all old categories and no new category
items.

Parameters
----------
new_categories : Index-like
   The categories in new order.
ordered : bool, optional
   Whether or not the categorical is treated as a ordered categorical.
   If not given, do not change the ordered information.
inplace : bool, default False
   Whether or not to reorder the categories inplace or return a copy of
   this categorical with reordered categories.

   .. deprecated:: 1.3.0

Returns
-------
cat : Categorical or None
    Categorical with removed categories or None if ``inplace=True``.

Raises
------
ValueError
    If the new categories do not contain all old category items or any
    new ones

See Also
--------
rename_categories : Rename categories.
add_categories : Add new categories.
remove_categories : Remove the specified categories.
remove_unused_categories : Remove categories which are not used.
set_categories : Set the categories to the specified ones.
Source:
            def f(self, *args, **kwargs):
                return self._delegate_method(name, *args, **kwargs)
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/accessor.py
Type:      function

In [150]:
pd.Series.str.capitalize??

Signature: pd.Series.str.capitalize(self)
Docstring:
Convert strings in the Series/Index to be capitalized.

Equivalent to :meth:`str.capitalize`.

Returns
-------
Series or Index of object

See Also
--------
Series.str.lower : Converts all characters to lowercase.
Series.str.upper : Converts all characters to uppercase.
Series.str.title : Converts first character of each word to uppercase and
    remaining to lowercase.
Series.str.capitalize : Converts first character to uppercase and
    remaining to lowercase.
Series.str.swapcase : Converts uppercase to lowercase and lowercase to
    uppercase.
Series.str.casefold: Removes all case distinctions in the string.

Examples
--------
>>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
>>> s
0                 lower
1              CAPITALS
2    this is a sentence
3              SwApCaSe
dtype: object

>>> s.str.lower()
0                 lower
1              capitals
2    this is a sentence
3              swapcase
dtype: object

>>> s.str.upper()
0                 LOWER
1              CAPITALS
2    THIS IS A SENTENCE
3              SWAPCASE
dtype: object

>>> s.str.title()
0                 Lower
1              Capitals
2    This Is A Sentence
3              Swapcase
dtype: object

>>> s.str.capitalize()
0                 Lower
1              Capitals
2    This is a sentence
3              Swapcase
dtype: object

>>> s.str.swapcase()
0                 LOWER
1              capitals
2    THIS IS A SENTENCE
3              sWaPcAsE
dtype: object
Source:
    @Appender(_shared_docs["casemethods"] % _doc_args["capitalize"])
    @forbid_nonstring_types(["bytes"])
    def capitalize(self):
        result = self._data.array._str_capitalize()
        return self._wrap_result(result)
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/strings/accessor.py
Type:      function

In [151]:
pd.Series.str.contains??

Signature: pd.Series.str.contains(self, pat, case=True, flags=0, na=None, regex=True)
Source:
    @forbid_nonstring_types(["bytes"])
    def contains(self, pat, case=True, flags=0, na=None, regex=True):
        r"""
        Test if pattern or regex is contained within a string of a Series or Index.

        Return boolean Series or Index based on whether a given pattern or regex is
        contained within a string of a Series or Index.

        Parameters
        ----------
        pat : str
            Character sequence or regular expression.
        case : bool, default True
            If True, case sensitive.
        flags : int, default 0 (no flags)
            Flags to pass through to the re module, e.g. re.IGNORECASE.
        na : scalar, optional
            Fill value for missing values. The default depends on dtype of the
            array. For object-dtype, ``numpy.nan`` is used. For ``StringDtype``,
            ``pandas.NA`` is used.
        regex : bool, default True
            If True, assumes the pat is a regular expression.

            If False, treats the pat as a literal string.

        Returns
        -------
        Series or Index of boolean values
            A Series or Index of boolean values indicating whether the
            given pattern is contained within the string of each element
            of the Series or Index.

        See Also
        --------
        match : Analogous, but stricter, relying on re.match instead of re.search.
        Series.str.startswith : Test if the start of each string element matches a
            pattern.
        Series.str.endswith : Same as startswith, but tests the end of string.

        Examples
        --------
        Returning a Series of booleans using only a literal pattern.

        >>> s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
        >>> s1.str.contains('og', regex=False)
        0    False
        1     True
        2    False
        3    False
        4      NaN
        dtype: object

        Returning an Index of booleans using only a literal pattern.

        >>> ind = pd.Index(['Mouse', 'dog', 'house and parrot', '23.0', np.NaN])
        >>> ind.str.contains('23', regex=False)
        Index([False, False, False, True, nan], dtype='object')

        Specifying case sensitivity using `case`.

        >>> s1.str.contains('oG', case=True, regex=True)
        0    False
        1    False
        2    False
        3    False
        4      NaN
        dtype: object

        Specifying `na` to be `False` instead of `NaN` replaces NaN values
        with `False`. If Series or Index does not contain NaN values
        the resultant dtype will be `bool`, otherwise, an `object` dtype.

        >>> s1.str.contains('og', na=False, regex=True)
        0    False
        1     True
        2    False
        3    False
        4    False
        dtype: bool

        Returning 'house' or 'dog' when either expression occurs in a string.

        >>> s1.str.contains('house|dog', regex=True)
        0    False
        1     True
        2     True
        3    False
        4      NaN
        dtype: object

        Ignoring case sensitivity using `flags` with regex.

        >>> import re
        >>> s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)
        0    False
        1    False
        2     True
        3    False
        4      NaN
        dtype: object

        Returning any digit using regular expression.

        >>> s1.str.contains('\\d', regex=True)
        0    False
        1    False
        2    False
        3     True
        4      NaN
        dtype: object

        Ensure `pat` is a not a literal pattern when `regex` is set to True.
        Note in the following example one might expect only `s2[1]` and `s2[3]` to
        return `True`. However, '.0' as a regex matches any character
        followed by a 0.

        >>> s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])
        >>> s2.str.contains('.0', regex=True)
        0     True
        1     True
        2    False
        3     True
        4    False
        dtype: bool
        """
        if regex and re.compile(pat).groups:
            warnings.warn(
                "This pattern is interpreted as a regular expression, and has "
                "match groups. To actually get the groups, use str.extract.",
                UserWarning,
                stacklevel=find_stack_level(),
            )

        result = self._data.array._str_contains(pat, case, flags, na, regex)
        return self._wrap_result(result, fill_value=na, returns_string=False)
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/strings/accessor.py
Type:      function

In [152]:
len(dir(pd.Series.str))

90

In [153]:
len(dir(pd.Series.dt))

93

In [154]:
pd.Series.dt.ceil??

Signature: pd.Series.dt.ceil(self, *args, **kwargs)
Docstring:
Perform ceil operation on the data to the specified `freq`.

Parameters
----------
freq : str or Offset
    The frequency level to ceil the index to. Must be a fixed
    frequency like 'S' (second) not 'ME' (month end). See
    :ref:`frequency aliases <timeseries.offset_aliases>` for
    a list of possible `freq` values.
ambiguous : 'infer', bool-ndarray, 'NaT', default 'raise'
    Only relevant for DatetimeIndex:

    - 'infer' will attempt to infer fall dst-transition hours based on
      order
    - bool-ndarray where True signifies a DST time, False designates
      a non-DST time (note that this flag is only applicable for
      ambiguous times)
    - 'NaT' will return NaT where there are ambiguous times
    - 'raise' will raise an AmbiguousTimeError if there are ambiguous
      times.

nonexistent : 'shift_forward', 'shift_backward', 'NaT', timedelta, default 'raise'
    A nonexistent time does not exist in a particular timezone
    where clocks moved forward due to DST.

    - 'shift_forward' will shift the nonexistent time forward to the
      closest existing time
    - 'shift_backward' will shift the nonexistent time backward to the
      closest existing time
    - 'NaT' will return NaT where there are nonexistent times
    - timedelta objects will shift nonexistent times by the timedelta
    - 'raise' will raise an NonExistentTimeError if there are
      nonexistent times.

Returns
-------
DatetimeIndex, TimedeltaIndex, or Series
    Index of the same type for a DatetimeIndex or TimedeltaIndex,
    or a Series with the same index for a Series.

Raises
------
ValueError if the `freq` cannot be converted.

Notes
-----
If the timestamps have a timezone, ceiling will take place relative to the
local ("wall") time and re-localized to the same timezone. When ceiling
near daylight savings time, use ``nonexistent`` and ``ambiguous`` to
control the re-localization behavior.

Examples
--------
**DatetimeIndex**

>>> rng = pd.date_range('1/1/2018 11:59:00', periods=3, freq='min')
>>> rng
DatetimeIndex(['2018-01-01 11:59:00', '2018-01-01 12:00:00',
               '2018-01-01 12:01:00'],
              dtype='datetime64[ns]', freq='T')
>>> rng.ceil('H')
DatetimeIndex(['2018-01-01 12:00:00', '2018-01-01 12:00:00',
               '2018-01-01 13:00:00'],
              dtype='datetime64[ns]', freq=None)

**Series**

>>> pd.Series(rng).dt.ceil("H")
0   2018-01-01 12:00:00
1   2018-01-01 12:00:00
2   2018-01-01 13:00:00
dtype: datetime64[ns]

When rounding near a daylight savings time transition, use ``ambiguous`` or
``nonexistent`` to control how the timestamp should be re-localized.

>>> rng_tz = pd.DatetimeIndex(["2021-10-31 01:30:00"], tz="Europe/Amsterdam")

>>> rng_tz.ceil("H", ambiguous=False)
DatetimeIndex(['2021-10-31 02:00:00+01:00'],
              dtype='datetime64[ns, Europe/Amsterdam]', freq=None)

>>> rng_tz.ceil("H", ambiguous=True)
DatetimeIndex(['2021-10-31 02:00:00+02:00'],
              dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
Source:
            def f(self, *args, **kwargs):
                return self._delegate_method(name, *args, **kwargs)
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/accessor.py
Type:      function

In [155]:
pd.Series.dt.days_in_month??

Type:        property
String form: <property object at 0x12136b2c0>
Source:
# pd.Series.dt.days_in_month.fget
def _getter(self):
    return self._delegate_property_get(name)

# pd.Series.dt.days_in_month.fset
def _setter(self, new_values):
    return self._delegate_property_set(name, new_values)

In [156]:
pd.Series.dt.seconds??

Type:        property
String form: <property object at 0x12136b8b0>
Source:
# pd.Series.dt.seconds.fget
def _getter(self):
    return self._delegate_property_get(name)

# pd.Series.dt.seconds.fset
def _setter(self, new_values):
    return self._delegate_property_set(name, new_values)

In [157]:
pd.Series.dt.day_name??

Signature: pd.Series.dt.day_name(self, *args, **kwargs)
Docstring:
Return the day names of the DateTimeIndex with specified locale.

Parameters
----------
locale : str, optional
    Locale determining the language in which to return the day name.
    Default is English locale.

Returns
-------
Index
    Index of day names.

Examples
--------
>>> idx = pd.date_range(start='2018-01-01', freq='D', periods=3)
>>> idx
DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03'],
              dtype='datetime64[ns]', freq='D')
>>> idx.day_name()
Index(['Monday', 'Tuesday', 'Wednesday'], dtype='object')
Source:
            def f(self, *args, **kwargs):
                return self._delegate_method(name, *args, **kwargs)
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/accessor.py
Type:      function

In [158]:
(2).__add__(4)

6

In [159]:
pd.Series.sum??

Signature:
pd.Series.sum(
    self,
    axis=None,
    skipna=True,
    level=None,
    numeric_only=None,
    min_count=0,
    **kwargs,
)
Docstring:
Return the sum of the values over the requested axis.

This is equivalent to the method ``numpy.sum``.

Parameters
----------
axis : {index (0)}
    Axis for the function to be applied on.
skipna : bool, default True
    Exclude NA/null values when computing the result.
level : int or level name, default None
    If the axis is a MultiIndex (hierarchical), count along a
    particular level, collapsing into a scalar.
numeric_only : bool, default None
    Include only float, int, boolean columns. If None, will attempt to use
    everything, then use only numeric data. Not implemented for Series.
min_count : int, default 0
    The required number of valid values to perform the operation. If fewer than
    ``min_count`` non-NA values are present the result will be NA.
**kwargs
    Additional keyword arguments to be passed to the function.

Returns
-------
scalar or Series (if level specified)

See Also
--------
Series.sum : Return the sum.
Series.min : Return the minimum.
Series.max : Return the maximum.
Series.idxmin : Return the index of the minimum.
Series.idxmax : Return the index of the maximum.
DataFrame.sum : Return the sum over the requested axis.
DataFrame.min : Return the minimum over the requested axis.
DataFrame.max : Return the maximum over the requested axis.
DataFrame.idxmin : Return the index of the minimum over the requested axis.
DataFrame.idxmax : Return the index of the maximum over the requested axis.

Examples
--------
>>> idx = pd.MultiIndex.from_arrays([
...     ['warm', 'warm', 'cold', 'cold'],
...     ['dog', 'falcon', 'fish', 'spider']],
...     names=['blooded', 'animal'])
>>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
>>> s
blooded  animal
warm     dog       4
         falcon    2
cold     fish      0
         spider    8
Name: legs, dtype: int64

>>> s.sum()
14

By default, the sum of an empty or all-NA Series is ``0``.

>>> pd.Series([], dtype="float64").sum()  # min_count=0 is the default
0.0

This can be controlled with the ``min_count`` parameter. For example, if
you'd like the sum of an empty series to be NaN, pass ``min_count=1``.

>>> pd.Series([], dtype="float64").sum(min_count=1)
nan

Thanks to the ``skipna`` parameter, ``min_count`` handles all-NA and
empty series identically.

>>> pd.Series([np.nan]).sum()
0.0

>>> pd.Series([np.nan]).sum(min_count=1)
nan
Source:
        @doc(
            _num_doc,
            desc="Return the sum of the values over the requested axis.\n\n"
            "This is equivalent to the method ``numpy.sum``.",
            name1=name1,
            name2=name2,
            axis_descr=axis_descr,
            min_count=_min_count_stub,
            see_also=_stat_func_see_also,
            examples=_sum_examples,
        )
        def sum(
            self,
            axis=None,
            skipna=True,
            level=None,
            numeric_only=None,
            min_count=0,
            **kwargs,
        ):
            return NDFrame.sum(
                self, axis, skipna, level, numeric_only, min_count, **kwargs
            )
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/generic.py
Type:      function

## Dunder methods

In [160]:
(city_mpg + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
44981    22.5
44982    24.0
44983    21.0
44984    21.0
44985    18.5
Length: 44986, dtype: float64

## Models with better city mileage than highway

In [161]:
df[city_mpg - highway_mpg > 0].ghgScore.mean()

7.485849056603773

In [162]:
sum(city_mpg - highway_mpg > 0)

636

In [163]:
sum(highway_mpg - city_mpg > 0)

44209

In [164]:
df[city_mpg - highway_mpg < 0].ghgScore.mean()

0.6455472867515665

## 6.3 Index Alignment

In [165]:
s1 = pd.Series([10, 20, 30],index=[1, 2, 2])

In [166]:
s2 = pd.Series([35, 44, 53], index=[2, 2, 4])

In [167]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

Each combination of the index matches have been calculated.

Best to have unique indices to prevent combinatoric explosion

## 6.4 Broadcasting

In [168]:
s1.index

Int64Index([1, 2, 2], dtype='int64')

In [169]:
s2.index

Int64Index([2, 2, 4], dtype='int64')

In [170]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [171]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

### See available methods and attributes with dir

In [172]:
dir(s1)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [173]:
s1.divide(s2, fill_value=1)

1    10.000000
2     0.571429
2     0.454545
2     0.857143
2     0.681818
4     0.018868
dtype: float64

In [174]:
s1

1    10
2    20
2    30
dtype: int64

In [175]:
s2

2    35
2    44
4    53
dtype: int64

In [176]:
s1.multiply(s2, fill_value=0)

1       0.0
2     700.0
2     880.0
2    1050.0
2    1320.0
4       0.0
dtype: float64

## 6.7 Chaining

In [177]:
(city_mpg
    .add(highway_mpg)
    .div(2))

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
44981    22.5
44982    24.0
44983    21.0
44984    21.0
44985    18.5
Length: 44986, dtype: float64

In [178]:
(city_mpg
    .floordiv(highway_mpg)
    .sum())

777

In [179]:
(city_mpg
    .ge(highway_mpg)
    .sum())

777

In [180]:
(city_mpg
    .rfloordiv(highway_mpg))

0        1
1        1
2        1
3        1
4        1
        ..
44981    1
44982    1
44983    1
44984    1
44985    1
Length: 44986, dtype: int64

In [181]:
(city_mpg
    .mod(highway_mpg))

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Length: 44986, dtype: int64

In [182]:
(city_mpg
    .div(highway_mpg))

0        0.760000
1        0.642857
2        0.696970
3        0.833333
4        0.739130
           ...
44981    0.730769
44982    0.714286
44983    0.750000
44984    0.750000
44985    0.761905
Length: 44986, dtype: float64

In [183]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: int64

In [184]:
city_mpg + city_mpg

0        38
1        18
2        46
3        20
4        34
         ..
44981    38
44982    40
44983    36
44984    36
44985    32
Name: city08, Length: 44986, dtype: int64

In [185]:
city_mpg + 10

0        29
1        19
2        33
3        20
4        27
         ..
44981    29
44982    30
44983    28
44984    28
44985    26
Name: city08, Length: 44986, dtype: int64

In [186]:
(city_mpg
    .add(city_mpg))

0        38
1        18
2        46
3        20
4        34
         ..
44981    38
44982    40
44983    36
44984    36
44985    32
Name: city08, Length: 44986, dtype: int64

In [187]:
pd.Series.add??

Signature: pd.Series.add(self, other, level=None, fill_value=None, axis=0)
Docstring:
Return Addition of series and other, element-wise (binary operator `add`).

Equivalent to ``series + other``, but with support to substitute a fill_value for
missing data in either one of the inputs.

Parameters
----------
other : Series or scalar value
fill_value : None or float value, default None (NaN)
    Fill existing missing (NaN) values, and any new element needed for
    successful Series alignment, with this value before computation.
    If data in both corresponding Series locations is missing
    the result of filling (at that location) will be missing.
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.

Returns
-------
Series
    The result of the operation.

See Also
--------
Series.radd : Reverse of the Addition operator, see
    `Python documentation
    <https://docs.python.org/3/reference/datamodel.html#emulating-numeric-types>`_
    for more details.

Examples
--------
>>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
>>> a
a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64
>>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
>>> b
a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64
>>> a.add(b, fill_value=0)
a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64
Source:
    @Appender(doc)
    def flex_wrapper(self, other, level=None, fill_value=None, axis=0):
        # validate axis
        if axis is not None:
            self._get_axis_number(axis)

        res_name = get_op_result_name(self, other)

        if isinstance(other, ABCSeries):
            return self._binop(other, op, level=level, fill_value=fill_value)
        elif isinstance(other, (np.ndarray, list, tuple)):
            if len(other) != len(self):
                raise ValueError("Lengths must be equal")
            other = self._constructor(other, self.index)
            result = self._binop(other, op, level=level, fill_value=fill_value)
            result.name = res_name
            return result
        else:
            if fill_value is not None:
                self = self.fillna(fill_value)

            return op(self, other)
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/ops/__init__.py
Type:      function

## Chapter 7 - Aggregate Methods

In [188]:
city_mpg.mean()

18.91014982438981

In [189]:
city_mpg.is_unique

False

In [190]:
city_mpg.is_monotonic_increasing

False

In [191]:
city_mpg.quantile()

17.0

In [192]:
city_mpg.median()

17.0

In [193]:
city_mpg.quantile([0.05, 0.25, 0.5, 0.75, 0.95])

0.05    11.0
0.25    15.0
0.50    17.0
0.75    21.0
0.95    28.0
Name: city08, dtype: float64

In [194]:
(city_mpg
    .gt(30)
    .sum())

1396

### Percent of population that meets a criteria

In [195]:
(city_mpg
    .gt(30)
    .mean())*100

3.1031876583826077

In [196]:
(city_mpg
    .gt(30)
    .mul(100)
    .mean())

3.103187658382608

In [197]:
(city_mpg
    .gt(30)
    .sum())/len(city_mpg)

0.031031876583826078

### .agg and pandas

In [198]:
pd.Series.agg??

Signature: pd.Series.agg(self, func=None, axis=0, *args, **kwargs)
Docstring:
Aggregate using one or more operations over the specified axis.

Parameters
----------
func : function, str, list or dict
    Function to use for aggregating the data. If a function, must either
    work when passed a Series or when passed to Series.apply.

    Accepted combinations are:

    - function
    - string function name
    - list of functions and/or function names, e.g. ``[np.sum, 'mean']``
    - dict of axis labels -> functions, function names or list of such.
axis : {0 or 'index'}
        Parameter needed for compatibility with DataFrame.
*args
    Positional arguments to pass to `func`.
**kwargs
    Keyword arguments to pass to `func`.

Returns
-------
scalar, Series or DataFrame

    The return can be:

    * scalar : when Series.agg is called with single function
    * Series : when DataFrame.agg is called with a single function
    * DataFrame : when DataFrame.agg is called with several functions

    Return scalar, Series or DataFrame.

See Also
--------
Series.apply : Invoke function on a Series.
Series.transform : Transform function producing a Series with like indexes.

Notes
-----
`agg` is an alias for `aggregate`. Use the alias.

Functions that mutate the passed object can produce unexpected
behavior or errors and are not supported. See :ref:`gotchas.udf-mutation`
for more details.

A passed user-defined-function will be passed a Series for evaluation.

Examples
--------
>>> s = pd.Series([1, 2, 3, 4])
>>> s
0    1
1    2
2    3
3    4
dtype: int64

>>> s.agg('min')
1

>>> s.agg(['min', 'max'])
min   1
max   4
dtype: int64
Source:
    @doc(
        _shared_docs["aggregate"],
        klass=_shared_doc_kwargs["klass"],
        axis=_shared_doc_kwargs["axis"],
        see_also=_agg_see_also_doc,
        examples=_agg_examples_doc,
    )
    def aggregate(self, func=None, axis=0, *args, **kwargs):
        # Validate the axis parameter
        self._get_axis_number(axis)

        # if func is None, will switch to user-provided "named aggregation" kwargs
        if func is None:
            func = dict(kwargs.items())

        op = SeriesApply(self, func, convert_dtype=False, args=args, kwargs=kwargs)
        result = op.agg()
        return result
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/series.py
Type:      function

In [199]:
dir(pd.Series.agg)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_docstring_components']

In [200]:
df.index

RangeIndex(start=0, stop=44986, step=1)

In [201]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [202]:
[match for match in dir(df) if 'corr' in match]

['corr', 'corrwith']

In [203]:
df.corr??

Signature:
df.corr(
    method: 'str | Callable[[np.ndarray, np.ndarray], float]' = 'pearson',
    min_periods: 'int' = 1,
) -> 'DataFrame'
Source:
    def corr(
        self,
        method: str | Callable[[np.ndarray, np.ndarray], float] = "pearson",
        min_periods: int = 1,
    ) -> DataFrame:
        """
        Compute pairwise correlation of columns, excluding NA/null values.

        Parameters
        ----------
        method : {'pearson', 'kendall', 'spearman'} or callable
            Method of correlation:

            * pearson : standard correlation coefficient
            * kendall : Kendall Tau correlation coefficient
            * spearman : Spearman rank correlation
            * callable: callable with input two 1d ndarrays
                and returning a float. Note that the returned matrix from corr
                will have 1 along the diagonals and will be symmetric
                regardless of the callable's behavior.
        min_periods : int, optional
            Minimum number of observations required per pair of columns
            to have a valid result. Currently only available for Pearson
            and Spearman correlation.

        Returns
        -------
        DataFrame
            Correlation matrix.

        See Also
        --------
        DataFrame.corrwith : Compute pairwise correlation with another
            DataFrame or Series.
        Series.corr : Compute the correlation between two Series.

        Examples
        --------
        >>> def histogram_intersection(a, b):
        ...     v = np.minimum(a, b).sum().round(decimals=1)
        ...     return v
        >>> df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
        ...                   columns=['dogs', 'cats'])
        >>> df.corr(method=histogram_intersection)
              dogs  cats
        dogs   1.0   0.3
        cats   0.3   1.0
        """
        numeric_df = self._get_numeric_data()
        cols = numeric_df.columns
        idx = cols.copy()
        mat = numeric_df.to_numpy(dtype=float, na_value=np.nan, copy=False)

        if method == "pearson":
            correl = libalgos.nancorr(mat, minp=min_periods)
        elif method == "spearman":
            correl = libalgos.nancorr_spearman(mat, minp=min_periods)
        elif method == "kendall" or callable(method):
            if min_periods is None:
                min_periods = 1
            mat = mat.T
            corrf = nanops.get_corr_func(method)
            K = len(cols)
            correl = np.empty((K, K), dtype=float)
            mask = np.isfinite(mat)
            for i, ac in enumerate(mat):
                for j, bc in enumerate(mat):
                    if i > j:
                        continue

                    valid = mask[i] & mask[j]
                    if valid.sum() < min_periods:
                        c = np.nan
                    elif i == j:
                        c = 1.0
                    elif not valid.all():
                        c = corrf(ac[valid], bc[valid])
                    else:
                        c = corrf(ac, bc)
                    correl[i, j] = c
                    correl[j, i] = c
        else:
            raise ValueError(
                "method must be either 'pearson', "
                "'spearman', 'kendall', or a callable, "
                f"'{method}' was supplied"
            )

        return self._constructor(correl, index=idx, columns=cols)
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/frame.py
Type:      method

In [204]:
df.corr().head()

,barrels08,barrelsA08,charge120,charge240,city08U,cityA08,cityA08U,cityCD,cityE,cityUF,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
barrels08,1.000000,0.052900,NaN,-0.340031,-0.509911,-0.152204,-0.166699,-0.023238,-0.319015,-0.180518,...,-0.693577,-0.158695,-0.822420,-0.028459,-0.294925,-0.962709,-0.176377,-0.178185,-0.181213,-0.179960
barrelsA08,0.052900,1.000000,NaN,0.054838,0.059897,0.501188,0.408003,0.143449,0.208909,0.245190,...,-0.048097,0.462475,-0.065496,0.719533,0.148198,-0.039483,-0.009625,0.212817,0.233040,0.221916
charge120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
charge240,-0.340031,0.054838,NaN,1.000000,0.602055,0.231135,0.236722,0.040944,0.711829,0.274013,...,0.734287,0.235532,0.634229,0.086438,0.136345,0.282809,0.635996,0.251422,0.260144,0.255809
city08U,-0.509911,0.059897,NaN,0.602055,1.000000,0.142905,0.157420,0.014279,0.416792,0.125066,...,0.751321,0.143843,0.732176,0.080668,0.644423,0.442074,0.364267,0.132284,0.131904,0.132465

In [205]:
city_mpg.hasnans

False

In [206]:
import numpy as np

In [207]:
def second_to_last(s):
    return s.iloc[-2]

In [208]:
city_mpg.agg(['mean', 'var', np.max, np.var, 'max', second_to_last, 'quantile'])

mean               18.910150
var                91.747179
amax              150.000000
var                91.747179
max               150.000000
second_to_last     18.000000
quantile           17.000000
Name: city08, dtype: float64

In [209]:
city_mpg.all()

True

In [210]:
city_mpg.max()

150

In [211]:
city_mpg.quantile([0.1, .25, .5, .75, .9])

0.10    13.0
0.25    15.0
0.50    17.0
0.75    21.0
0.90    25.0
Name: city08, dtype: float64

In [212]:
city_mpg.std()

9.578474748991372

In [213]:
city_mpg.nunique()

130

In [214]:
city_mpg.is_monotonic

False

In [215]:
city_mpg.is_unique

False

In [216]:
city_mpg.agg(['count', 'size', 'nunique', 'mean', 'max'])

count      44986.00000
size       44986.00000
nunique      130.00000
mean          18.91015
max          150.00000
Name: city08, dtype: float64

## Chapter 8 - Conversion Methods

In [217]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: Int64

In [218]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: int64

In [219]:
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: Int16

Inspect limits on integer and float types with numpy

In [220]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [221]:
np.iinfo('uint8')

iinfo(min=0, max=255, dtype=uint8)

In [222]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [223]:
city_mpg.astype('float16')

0        19.0
1         9.0
2        23.0
3        10.0
4        17.0
         ...
44981    19.0
44982    20.0
44983    18.0
44984    18.0
44985    16.0
Name: city08, Length: 44986, dtype: float16

In [224]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [225]:
city_mpg.memory_usage()

360016

In [226]:
city_mpg.astype('int16').memory_usage()

90100

In [227]:
city_mpg.nbytes

359888

In [228]:
city_mpg.astype('int16').nbytes

89972

In [229]:
make = df.make

In [230]:
type(make)

pandas.core.series.Series

In [231]:
make.memory_usage()

360016

In [232]:
make.nbytes

359888

In [233]:
make.memory_usage(deep=True)

2849754

In [234]:
(make
.astype('category')
.memory_usage(deep=True))

103884

In [235]:
city_mpg.astype(str)

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: object

In [236]:
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: category
Categories (130, int64): [6, 7, 8, 9, ..., 141, 145, 148, 150]

## 8.4 Ordered Categories

In [237]:
values = pd.Series(sorted(set(city_mpg)))

In [238]:
city_type = pd.CategoricalDtype(categories=values,
                               ordered=True)

In [239]:
city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: category
Categories (130, int64): [6 < 7 < 8 < 9 ... 141 < 145 < 148 < 150]

In [240]:
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
44981      19
44982      20
44983      18
44984      18
44985      16

[44986 rows x 1 columns]

In [241]:
city_mpg.astype(city_type).memory_usage(deep=True)

95308

In [242]:
city_mpg.memory_usage(deep=True)

360016

## Chapter 9 - Manipulation Methods

### 9.1 .apply and .where

In [243]:
def gt20(val):
    return val > 20

In [244]:
%%timeit
city_mpg.apply(gt20)

4.25 ms ± 30.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [245]:
%%timeit
city_mpg.gt(20)

43.7 µs ± 106 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [246]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [247]:
make.value_counts()

Chevrolet           4287
Ford                3644
GMC                 2686
Dodge               2655
Toyota              2260
                    ...
London Taxi            1
Excalibur Autos        1
ASC Incorporated       1
Mahindra               1
Qvale                  1
Name: make, Length: 141, dtype: int64

In [248]:
top5 = make.value_counts().index[:5]

In [249]:
top5

Index(['Chevrolet', 'Ford', 'GMC', 'Dodge', 'Toyota'], dtype='object')

In [250]:
def generalise_top5(val):
    if val in top5:
        return val
    return 'Other'

In [251]:
%%timeit 
make.apply(generalise_top5)

10.8 ms ± 32.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [252]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [253]:
top5

Index(['Chevrolet', 'Ford', 'GMC', 'Dodge', 'Toyota'], dtype='object')

In [254]:
%%timeit
make.where(make.isin(top5), other = 'Other')

1.66 ms ± 11.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [255]:
10.8/1.7

6.352941176470589

In [256]:
make.where(make.isin(top5), other = 'Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
44981    Other
44982    Other
44983    Other
44984    Other
44985    Other
Name: make, Length: 44986, dtype: object

## 9.2 If Else with Pandas

In [257]:
vc = make.value_counts()

In [258]:
top5 = vc.index[:5]

In [259]:
top5

Index(['Chevrolet', 'Ford', 'GMC', 'Dodge', 'Toyota'], dtype='object')

In [260]:
top10 = vc.index[:10]

In [261]:
top10

Index(['Chevrolet', 'Ford', 'GMC', 'Dodge', 'Toyota', 'BMW', 'Mercedes-Benz',
       'Nissan', 'Porsche', 'Volkswagen'],
      dtype='object')

In [262]:
top20 = vc.index[:20]

In [263]:
top20

Index(['Chevrolet', 'Ford', 'GMC', 'Dodge', 'Toyota', 'BMW', 'Mercedes-Benz',
       'Nissan', 'Porsche', 'Volkswagen', 'Audi', 'Honda', 'Mitsubishi',
       'Mazda', 'Jeep', 'Subaru', 'Hyundai', 'Pontiac', 'Volvo', 'Chrysler'],
      dtype='object')

In [264]:
top30 = vc.index[:30]

In [265]:
top30

Index(['Chevrolet', 'Ford', 'GMC', 'Dodge', 'Toyota', 'BMW', 'Mercedes-Benz',
       'Nissan', 'Porsche', 'Volkswagen', 'Audi', 'Honda', 'Mitsubishi',
       'Mazda', 'Jeep', 'Subaru', 'Hyundai', 'Pontiac', 'Volvo', 'Chrysler',
       'Kia', 'Buick', 'Cadillac', 'Mercury', 'Lexus', 'Plymouth', 'Suzuki',
       'Jaguar', 'MINI', 'Oldsmobile'],
      dtype='object')

In [266]:
make2 = (make
.where(make.isin(top5), other = 'Top10')
.where(make.isin(top10), other = "Top20")
.where(make.isin(top20), other = "Top30")
.where(make.isin(top30), other = "Other"))

In [267]:
make2.value_counts()

Top20        9881
Top10        8113
Top30        5855
Other        5605
Chevrolet    4287
Ford         3644
GMC          2686
Dodge        2655
Toyota       2260
Name: make, dtype: int64

Alternate method using numpy select:

In [268]:
import numpy as np

In [269]:
np.select([make.isin(top5), make.isin(top10), make.isin(top20), make.isin(top30)], 
         [make, 'Top10', 'Top20', 'Top30'], 'Other')

array(['Other', 'Other', 'Dodge', ..., 'Top20', 'Top20', 'Top20'],
      dtype=object)

In [270]:
pd.Series(np.select([make.isin(top5), make.isin(top10)], 
         [make, 'Top10'], 'Other'), index=make.index)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
44981    Other
44982    Other
44983    Other
44984    Other
44985    Other
Length: 44986, dtype: object

## 9.3 Missing Data

In [271]:
cyl = df.cylinders

In [272]:
(cyl
.isna()
.sum())

384

Create an index where the values are missing and show what those makes are.

In [273]:
missing = cyl.isna()

Indexing off of the .loc attribute with a boolean.

In [274]:
make.loc[missing]

7138         Nissan
7139         Toyota
8143         Toyota
8144           Ford
8146           Ford
            ...
38818           BMW
38819       Genesis
38820       Genesis
38822          MINI
38914    Volkswagen
Name: make, Length: 384, dtype: object

## 9.4 Filling in Missing Data

In [275]:
cyl[cyl.isna()]

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
         ..
38818   NaN
38819   NaN
38820   NaN
38822   NaN
38914   NaN
Name: cylinders, Length: 384, dtype: float64

In [276]:
cyl.loc[7136:7141]

7136    6.0
7137    6.0
7138    NaN
7139    NaN
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

In [277]:
cyl.fillna(0).loc[7136:7141]

7136    6.0
7137    6.0
7138    0.0
7139    0.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

In [278]:
cyl.interpolate().loc[7136:7141]

7136    6.0
7137    6.0
7138    6.0
7139    6.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

In [279]:
cyl.dropna().loc[7136:7141]

7136    6.0
7137    6.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

In [280]:
cyl.ffill().loc[7136:7141]

7136    6.0
7137    6.0
7138    6.0
7139    6.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

In [281]:
cyl.bfill().loc[7136:7141]

7136    6.0
7137    6.0
7138    6.0
7139    6.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

In [282]:
cyl.fillna(cyl.mean()).loc[7136:7141]

7136    6.000000
7137    6.000000
7138    5.708264
7139    5.708264
7140    6.000000
7141    6.000000
Name: cylinders, dtype: float64

## 9.5 Interpolating Data

In [283]:
temp = pd.Series([38, 39, None, 41, 42])

In [284]:
temp

0    38.0
1    39.0
2     NaN
3    41.0
4    42.0
dtype: float64

In [285]:
temp.interpolate()

0    38.0
1    39.0
2    40.0
3    41.0
4    42.0
dtype: float64

## 9.6 Clipping Data

In [286]:
city_mpg.loc[:446]

0      19
1       9
2      23
3      10
4      17
       ..
442    15
443    15
444    15
445    15
446    31
Name: city08, Length: 447, dtype: int64

In [287]:
(city_mpg
    .loc[:446]
    .clip(lower = city_mpg.quantile(0.05),
          upper = city_mpg.quantile(0.95))
)

0      19.0
1      11.0
2      23.0
3      11.0
4      17.0
       ...
442    15.0
443    15.0
444    15.0
445    15.0
446    28.0
Name: city08, Length: 447, dtype: float64

In [288]:
city_mpg.quantile(0.05)

11.0

In [289]:
city_mpg.quantile(0.95)

28.0

In [290]:
pd.Series.clip??

Signature:
pd.Series.clip(
    self: 'Series',
    lower=None,
    upper=None,
    axis: 'Axis | None' = None,
    inplace: 'bool' = False,
    *args,
    **kwargs,
) -> 'Series | None'
Docstring:
Trim values at input threshold(s).

Assigns values outside boundary to boundary values. Thresholds
can be singular values or array like, and in the latter case
the clipping is performed element-wise in the specified axis.

Parameters
----------
lower : float or array-like, default None
    Minimum threshold value. All values below this
    threshold will be set to it. A missing
    threshold (e.g `NA`) will not clip the value.
upper : float or array-like, default None
    Maximum threshold value. All values above this
    threshold will be set to it. A missing
    threshold (e.g `NA`) will not clip the value.
axis : int or str axis name, optional
    Align object with lower and upper along the given axis.
inplace : bool, default False
    Whether to perform the operation in place on the data.
*args, **kwargs
    Additional keywords have no effect but might be accepted
    for compatibility with numpy.

Returns
-------
Series or DataFrame or None
    Same type as calling object with the values outside the
    clip boundaries replaced or None if ``inplace=True``.

See Also
--------
Series.clip : Trim values at input threshold in series.
DataFrame.clip : Trim values at input threshold in dataframe.
numpy.clip : Clip (limit) the values in an array.

Examples
--------
>>> data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
>>> df = pd.DataFrame(data)
>>> df
   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

Clips per column using lower and upper thresholds:

>>> df.clip(-4, 6)
   col_0  col_1
0      6     -2
1     -3     -4
2      0      6
3     -1      6
4      5     -4

Clips using specific lower and upper thresholds per column element:

>>> t = pd.Series([2, -4, -1, 6, 3])
>>> t
0    2
1   -4
2   -1
3    6
4    3
dtype: int64

>>> df.clip(t, t + 4, axis=0)
   col_0  col_1
0      6      2
1     -3     -4
2      0      3
3      6      8
4      5      3

Clips using specific lower threshold per column element, with missing values:

>>> t = pd.Series([2, -4, np.NaN, 6, 3])
>>> t
0    2.0
1   -4.0
2    NaN
3    6.0
4    3.0
dtype: float64

>>> df.clip(t, axis=0)
col_0  col_1
0      9      2
1     -3     -4
2      0      6
3      6      8
4      5      3
Source:
    @deprecate_nonkeyword_arguments(
        version=None, allowed_args=["self", "lower", "upper"]
    )
    def clip(
        self: Series,
        lower=None,
        upper=None,
        axis: Axis | None = None,
        inplace: bool = False,
        *args,
        **kwargs,
    ) -> Series | None:
        return super().clip(lower, upper, axis, inplace, *args, **kwargs)
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/series.py
Type:      function

## 9.7 Sorting Values

In [291]:
pd.Series.sort_values?

Signature:
pd.Series.sort_values(
    self,
    axis=0,
    ascending: 'bool | int | Sequence[bool | int]' = True,
    inplace: 'bool' = False,
    kind: 'str' = 'quicksort',
    na_position: 'str' = 'last',
    ignore_index: 'bool' = False,
    key: 'ValueKeyFunc' = None,
)
Docstring:
Sort by the values.

Sort a Series in ascending or descending order by some
criterion.

Parameters
----------
axis : {0 or 'index'}, default 0
    Axis to direct sorting. The value 'index' is accepted for
    compatibility with DataFrame.sort_values.
ascending : bool or list of bools, default True
    If True, sort values in ascending order, otherwise descending.
inplace : bool, default False
    If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
    Choice of sorting algorithm. See also :func:`numpy.sort` for more
    information. 'mergesort' and 'stable' are the only stable  algorithms.
na_position : {'first' or 'last'}, default 'last'
    Argument 'first' puts NaNs at the beginning, 'last' puts NaNs at
    the end.
ignore_index : bool, default False
    If True, the resulting axis will be labeled 0, 1, …, n - 1.

    .. versionadded:: 1.0.0

key : callable, optional
    If not None, apply the key function to the series values
    before sorting. This is similar to the `key` argument in the
    builtin :meth:`sorted` function, with the notable difference that
    this `key` function should be *vectorized*. It should expect a
    ``Series`` and return an array-like.

    .. versionadded:: 1.1.0

Returns
-------
Series or None
    Series ordered by values or None if ``inplace=True``.

See Also
--------
Series.sort_index : Sort by the Series indices.
DataFrame.sort_values : Sort DataFrame by the values along either axis.
DataFrame.sort_index : Sort DataFrame by indices.

Examples
--------
>>> s = pd.Series([np.nan, 1, 3, 10, 5])
>>> s
0     NaN
1     1.0
2     3.0
3     10.0
4     5.0
dtype: float64

Sort values ascending order (default behaviour)

>>> s.sort_values(ascending=True)
1     1.0
2     3.0
4     5.0
3    10.0
0     NaN
dtype: float64

Sort values descending order

>>> s.sort_values(ascending=False)
3    10.0
4     5.0
2     3.0
1     1.0
0     NaN
dtype: float64

Sort values inplace

>>> s.sort_values(ascending=False, inplace=True)
>>> s
3    10.0
4     5.0
2     3.0
1     1.0
0     NaN
dtype: float64

Sort values putting NAs first

>>> s.sort_values(na_position='first')
0     NaN
1     1.0
2     3.0
4     5.0
3    10.0
dtype: float64

Sort a series of strings

>>> s = pd.Series(['z', 'b', 'd', 'a', 'c'])
>>> s
0    z
1    b
2    d
3    a
4    c
dtype: object

>>> s.sort_values()
3    a
1    b
4    c
2    d
0    z
dtype: object

Sort using a key function. Your `key` function will be
given the ``Series`` of values and should return an array-like.

>>> s = pd.Series(['a', 'B', 'c', 'D', 'e'])
>>> s.sort_values()
1    B
3    D
0    a
2    c
4    e
dtype: object
>>> s.sort_values(key=lambda x: x.str.lower())
0    a
1    B
2    c
3    D
4    e
dtype: object

NumPy ufuncs work well here. For example, we can
sort by the ``sin`` of the value

>>> s = pd.Series([-4, -2, 0, 2, 4])
>>> s.sort_values(key=np.sin)
1   -2
4    4
2    0
0   -4
3    2
dtype: int64

More complicated user-defined functions can be used,
as long as they expect a Series and return an array-like

>>> s.sort_values(key=lambda x: (np.tan(x.cumsum())))
0   -4
3    2
4    4
1   -2
2    0
dtype: int64
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/series.py
Type:      function

In [292]:
city_mpg.sort_values()

21057      6
41003      6
34523      6
39729      6
7901       6
        ...
35478    148
33394    150
37174    150
32570    150
31227    150
Name: city08, Length: 44986, dtype: int64

In [293]:
(city_mpg.sort_values() + highway_mpg)/2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
44981    22.5
44982    24.0
44983    21.0
44984    21.0
44985    18.5
Length: 44986, dtype: float64

## 9.8 Sorting the Index

In [294]:
city_mpg.sort_values().sort_index()

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: int64

## 9.9 Dropping Duplicates

In [295]:
city_mpg.drop_duplicates(keep='last').loc[38210:38500]

38211     62
38214     64
38218     98
38225     71
38226     69
38228     75
38229     72
38230     74
38248     44
38372    132
38376    136
38377    113
38471    134
38472    118
38473    138
38474    124
38476    102
38477    140
38478    127
38479    115
38481    107
38484     92
Name: city08, dtype: int64

In [296]:
city_mpg.drop_duplicates(keep='first').loc[38210:38500]

38214     64
38375    134
38482    103
Name: city08, dtype: int64

In [297]:
city_mpg.drop_duplicates(keep=False).loc[38210:38500]

38214    64
Name: city08, dtype: int64

## 9.10 Ranking Data

In [298]:
city_mpg.rank()

0        28661.5
1          248.5
2        38496.5
3          627.5
4        20560.5
          ...
44981    28661.5
44982    31611.0
44983    24854.5
44984    24854.5
44985    16308.0
Name: city08, Length: 44986, dtype: float64

Using method = 'min' gives equal values the same rank

In [299]:
city_mpg.rank(method='min')

0        27009.0
1          144.0
2        37676.0
3          354.0
4        18421.0
          ...
44981    27009.0
44982    30315.0
44983    22701.0
44984    22701.0
44985    14196.0
Name: city08, Length: 44986, dtype: float64

In [300]:
city_mpg.rank(method='dense')

0        14.0
1         4.0
2        18.0
3         5.0
4        12.0
         ...
44981    14.0
44982    15.0
44983    13.0
44984    13.0
44985    11.0
Name: city08, Length: 44986, dtype: float64

## 9.11 Replacing Data

In [301]:
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [302]:
s2

2    35
2    44
4    53
dtype: int64

In [303]:
s1

1    10
2    20
2    30
dtype: int64

In [304]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [305]:
s5 = s1.add(s2, fill_value=0)

In [306]:
s5

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [307]:
s5.replace(to_replace=[10], value=[12])

1    12.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [308]:
s5.replace(to_replace={10:12})

1    12.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [309]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [310]:
make.replace(r'(Fer)ra(r.*)',
            value=r'\2-mixed-\1', regex=True)

0          Alfa Romeo
1        ri-mixed-Fer
2               Dodge
3               Dodge
4              Subaru
             ...
44981          Subaru
44982          Subaru
44983          Subaru
44984          Subaru
44985          Subaru
Name: make, Length: 44986, dtype: object

## 9.12 Binning Data

Equal spaced bins

In [311]:
pd.cut(city_mpg, 10)

0        (5.856, 20.4]
1        (5.856, 20.4]
2         (20.4, 34.8]
3        (5.856, 20.4]
4        (5.856, 20.4]
             ...
44981    (5.856, 20.4]
44982    (5.856, 20.4]
44983    (5.856, 20.4]
44984    (5.856, 20.4]
44985    (5.856, 20.4]
Name: city08, Length: 44986, dtype: category
Categories (10, interval[float64, right]): [(5.856, 20.4] < (20.4, 34.8] < (34.8, 49.2] < (49.2, 63.6] ... (92.4, 106.8] < (106.8, 121.2] < (121.2, 135.6] < (135.6, 150.0]]

Custom bin sizes

In [312]:
pd.cut(city_mpg, [0, 10, 20, 40, 70, 150])

0        (10, 20]
1         (0, 10]
2        (20, 40]
3         (0, 10]
4        (10, 20]
           ...
44981    (10, 20]
44982    (10, 20]
44983    (10, 20]
44984    (10, 20]
44985    (10, 20]
Name: city08, Length: 44986, dtype: category
Categories (5, interval[int64, right]): [(0, 10] < (10, 20] < (20, 40] < (40, 70] < (70, 150]]

Bin with quantiles so there are roughly equal number of entries in each bin

In [313]:
pd.qcut(city_mpg, 10)

0         (18.0, 20.0]
1        (5.999, 13.0]
2         (22.0, 25.0]
3        (5.999, 13.0]
4         (16.0, 17.0]
             ...
44981     (18.0, 20.0]
44982     (18.0, 20.0]
44983     (17.0, 18.0]
44984     (17.0, 18.0]
44985     (15.0, 16.0]
Name: city08, Length: 44986, dtype: category
Categories (10, interval[float64, right]): [(5.999, 13.0] < (13.0, 14.0] < (14.0, 15.0] < (15.0, 16.0] ... (18.0, 20.0] < (20.0, 22.0] < (22.0, 25.0] < (25.0, 150.0]]

Set the labels to use

In [314]:
pd.qcut(city_mpg, 10, labels=list(range(1,11)))

0        7
1        1
2        9
3        1
4        5
        ..
44981    7
44982    7
44983    6
44984    6
44985    4
Name: city08, Length: 44986, dtype: category
Categories (10, int64): [1 < 2 < 3 < 4 ... 7 < 8 < 9 < 10]

## 9.14 Exercises

In [315]:
mean_city_mpg = city_mpg.mean()

In [316]:
mean_city_mpg

18.91014982438981

In [317]:
def highlow(s):
    if s >= mean_city_mpg:
        return 'high'
    return 'low'

In [318]:
(city_mpg.apply(highlow)
)

0        high
1         low
2        high
3         low
4         low
         ...
44981    high
44982    high
44983     low
44984     low
44985     low
Name: city08, Length: 44986, dtype: object

In [319]:
%%timeit
(city_mpg.apply(highlow)
)

9.02 ms ± 28.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [320]:
pd.Series.ge?

Signature: pd.Series.ge(self, other, level=None, fill_value=None, axis=0)
Docstring:
Return Greater than or equal to of series and other, element-wise (binary operator `ge`).

Equivalent to ``series >= other``, but with support to substitute a fill_value for
missing data in either one of the inputs.

Parameters
----------
other : Series or scalar value
fill_value : None or float value, default None (NaN)
    Fill existing missing (NaN) values, and any new element needed for
    successful Series alignment, with this value before computation.
    If data in both corresponding Series locations is missing
    the result of filling (at that location) will be missing.
level : int or name
    Broadcast across a level, matching Index values on the
    passed MultiIndex level.

Returns
-------
Series
    The result of the operation.

Examples
--------
>>> a = pd.Series([1, 1, 1, np.nan, 1], index=['a', 'b', 'c', 'd', 'e'])
>>> a
a    1.0
b    1.0
c    1.0
d    NaN
e    1.0
dtype: float64
>>> b = pd.Series([0, 1, 2, np.nan, 1], index=['a', 'b', 'c', 'd', 'f'])
>>> b
a    0.0
b    1.0
c    2.0
d    NaN
f    1.0
dtype: float64
>>> a.ge(b, fill_value=0)
a     True
b     True
c    False
d    False
e     True
f    False
dtype: bool
File:      ~/mambaforge/lib/python3.9/site-packages/pandas/core/ops/__init__.py
Type:      function

In [321]:
mean_city_mpg

18.91014982438981

In [322]:
city_mpg.ge(mean_city_mpg)

0         True
1        False
2         True
3        False
4        False
         ...
44981     True
44982     True
44983    False
44984    False
44985    False
Name: city08, Length: 44986, dtype: bool

In [323]:
np.select([city_mpg.ge(mean_city_mpg)], 
         ['high'], 'low')

array(['high', 'low', 'high', ..., 'low', 'low', 'low'], dtype='<U4')

In [324]:
pd.Series(
    np.select([city_mpg.ge(mean_city_mpg)], 
         ['high'], 'low')
)

0        high
1         low
2        high
3         low
4         low
         ...
44981    high
44982    high
44983     low
44984     low
44985     low
Length: 44986, dtype: object

In [325]:
%%timeit
pd.Series(
    np.select([city_mpg.ge(mean_city_mpg)], 
         ['high'], 'low')
)

1.85 ms ± 24.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [326]:
cyl.fillna(cyl.median()).loc[7136:7141]

7136    6.0
7137    6.0
7138    6.0
7139    6.0
7140    6.0
7141    6.0
Name: cylinders, dtype: float64

### Clipping data

Substitute values below the 10th and above the 90th percentile with the boundary value.

In [327]:
(city_mpg
    .loc[:446]
    .clip(lower = city_mpg.quantile(0.10),
          upper = city_mpg.quantile(0.90))
)

0      19.0
1      13.0
2      23.0
3      13.0
4      17.0
       ...
442    15.0
443    15.0
444    15.0
445    15.0
446    25.0
Name: city08, Length: 447, dtype: float64

### Function to return a replace series base on criteria
Labels category series for all but the top n categories with "Other"

In [328]:
top_n = city_mpg[:5]

In [329]:
top_n

0    19
1     9
2    23
3    10
4    17
Name: city08, dtype: int64

In [330]:
def label_with_other_n(s,n):
    top_n = s.value_counts().index[:n]
    return s.where(s.isin(top_n), other = 'Other')

In [331]:
type(city_mpg)

pandas.core.series.Series

In [332]:
label_with_other_n(city_mpg, 5)

0           19
1        Other
2        Other
3        Other
4           17
         ...
44981       19
44982    Other
44983       18
44984       18
44985       16
Name: city08, Length: 44986, dtype: object

### Function to return a binned series with n bins with the same width

In [333]:
def bin_equi_width(s, n=10):
    return pd.cut(s, n)

In [334]:
bin_equi_width(city_mpg)

0        (5.856, 20.4]
1        (5.856, 20.4]
2         (20.4, 34.8]
3        (5.856, 20.4]
4        (5.856, 20.4]
             ...
44981    (5.856, 20.4]
44982    (5.856, 20.4]
44983    (5.856, 20.4]
44984    (5.856, 20.4]
44985    (5.856, 20.4]
Name: city08, Length: 44986, dtype: category
Categories (10, interval[float64, right]): [(5.856, 20.4] < (20.4, 34.8] < (34.8, 49.2] < (49.2, 63.6] ... (92.4, 106.8] < (106.8, 121.2] < (121.2, 135.6] < (135.6, 150.0]]

In [335]:
bin_equi_width(city_mpg).value_counts()

(5.856, 20.4]     32907
(20.4, 34.8]      11154
(34.8, 49.2]        466
(49.2, 63.6]         98
(121.2, 135.6]       89
(78.0, 92.4]         68
(92.4, 106.8]        68
(106.8, 121.2]       66
(63.6, 78.0]         47
(135.6, 150.0]       23
Name: city08, dtype: int64

### Function to return an equally distributed binned series

In [336]:
def bin_equi_num(s, n=10):
    return pd.qcut(s, n)

In [337]:
bin_equi_num(city_mpg).value_counts()

(5.999, 13.0]    6243
(18.0, 20.0]     5899
(14.0, 15.0]     4796
(20.0, 22.0]     4768
(17.0, 18.0]     4308
(16.0, 17.0]     4280
(15.0, 16.0]     4225
(25.0, 150.0]    3761
(22.0, 25.0]     3550
(13.0, 14.0]     3156
Name: city08, dtype: int64

# Chapter 10: Indexing Operations

## 10.1 Prepping the data and renaming the index

In [338]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: int64

In [339]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [340]:
make.to_dict()[0]

'Alfa Romeo'

In [341]:
city2 = city_mpg.rename(make.to_dict())

In [342]:
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 44986, dtype: int64

In [343]:
city2.values

array([19,  9, 23, ..., 18, 18, 16])

In [344]:
city2.keys()

Index(['Alfa Romeo', 'Ferrari', 'Dodge', 'Dodge', 'Subaru', 'Subaru', 'Subaru',
       'Toyota', 'Toyota', 'Toyota',
       ...
       'Saab', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Subaru', 'Subaru',
       'Subaru', 'Subaru', 'Subaru'],
      dtype='object', length=44986)

In [345]:
city2.index

Index(['Alfa Romeo', 'Ferrari', 'Dodge', 'Dodge', 'Subaru', 'Subaru', 'Subaru',
       'Toyota', 'Toyota', 'Toyota',
       ...
       'Saab', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Subaru', 'Subaru',
       'Subaru', 'Subaru', 'Subaru'],
      dtype='object', length=44986)

In [346]:
city2 = city_mpg.rename(make)

In [347]:
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 44986, dtype: int64

In [348]:
city2.rename('citympg')

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: citympg, Length: 44986, dtype: int64

## 10.2 Resetting the index moves the current index into a new column

In [349]:
city2.reset_index()

            index  city08
0      Alfa Romeo      19
1         Ferrari       9
2           Dodge      23
3           Dodge      10
4          Subaru      17
...           ...     ...
44981      Subaru      19
44982      Subaru      20
44983      Subaru      18
44984      Subaru      18
44985      Subaru      16

[44986 rows x 2 columns]

In [350]:
city2.reset_index(drop=True)

0        19
1         9
2        23
3        10
4        17
         ..
44981    19
44982    20
44983    18
44984    18
44985    16
Name: city08, Length: 44986, dtype: int64

In [351]:
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [352]:
songs['index']

['Paul', 'John', 'George', 'Ringo']

In [353]:
songs_df = pd.DataFrame(songs)
songs_df

    index  data    name
0    Paul   145  counts
1    John   142  counts
2  George    38  counts
3   Ringo    13  counts

In [354]:
(songs_df
 .rename_axis("first")
 .reset_index()
)

   first   index  data    name
0      0    Paul   145  counts
1      1    John   142  counts
2      2  George    38  counts
3      3   Ringo    13  counts

In [355]:
songs_df.reset_index(drop=True)

    index  data    name
0    Paul   145  counts
1    John   142  counts
2  George    38  counts
3   Ringo    13  counts

In [356]:
city2.loc['Subaru']

Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 961, dtype: int64

In [357]:
city2.loc['Fisker']

20

In [358]:
city2.loc[['Fisker']]

Fisker    20
Name: city08, dtype: int64

In [359]:
city2.loc[['Subaru']]

Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 961, dtype: int64

In [360]:
df.index

RangeIndex(start=0, stop=44986, step=1)

In [361]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [364]:
# city2.loc['Ferrari':'Lamborghini']

In [365]:
city2.sort_index().loc['Ferrari':'Lamborghini']

Ferrari        12
Ferrari        11
Ferrari        11
Ferrari        12
Ferrari        10
               ..
Lamborghini    13
Lamborghini    14
Lamborghini    12
Lamborghini    12
Lamborghini    13
Name: city08, Length: 12342, dtype: int64

In [366]:
city2.sort_index().loc['F':'L']

Federal Coach    13
Federal Coach    13
Federal Coach    13
Federal Coach    13
Federal Coach    14
                 ..
Kia              24
Kia              25
Koenigsegg       11
Koenigsegg       11
Koenigsegg       11
Name: city08, Length: 12199, dtype: int64

In [367]:
idx = pd.Index(['Dodge'])

In [368]:
city2.loc[idx]

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 2655, dtype: int64

In [369]:
idx = pd.Index(['Dodge', 'Dodge'])

In [370]:
city2.loc[idx]

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 5310, dtype: int64

In [371]:
mask = city2 > 50

In [372]:
mask.sum()

454

In [373]:
city2.loc[mask]

Nissan         81
Toyota         81
Toyota         81
Ford           74
Nissan         84
             ...
BMW            77
Genesis       103
Genesis        97
MINI          119
Volkswagen    110
Name: city08, Length: 454, dtype: int64

In [374]:
city2.iloc[0]

19

In [375]:
city2.iloc[-1]

16

In [376]:
city2.head()

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
Name: city08, dtype: int64

In [377]:
city2.tail()

Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int64

In [378]:
city2.iloc[[1, 3, 5, -1]]

Ferrari     9
Dodge      10
Subaru     21
Subaru     16
Name: city08, dtype: int64

In [379]:
city2.head(6)

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
Subaru        21
Name: city08, dtype: int64

In [380]:
city2.iloc[-8:]

Saturn    21
Saturn    24
Saturn    21
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int64

In [381]:
city2[mask]

Nissan         81
Toyota         81
Toyota         81
Ford           74
Nissan         84
             ...
BMW            77
Genesis       103
Genesis        97
MINI          119
Volkswagen    110
Name: city08, Length: 454, dtype: int64

In [382]:
# a boolean array with iloc will fail
# city2.iloc[mask]

In [383]:
# First convert to a numpy array
city2.iloc[mask.to_numpy()]

Nissan         81
Toyota         81
Toyota         81
Ford           74
Nissan         84
             ...
BMW            77
Genesis       103
Genesis        97
MINI          119
Volkswagen    110
Name: city08, Length: 454, dtype: int64

In [384]:
city2.iloc[list(mask)]

Nissan         81
Toyota         81
Toyota         81
Ford           74
Nissan         84
             ...
BMW            77
Genesis       103
Genesis        97
MINI          119
Volkswagen    110
Name: city08, Length: 454, dtype: int64

## 10.7 Filtering Index Values

In [385]:
city2.filter(like = 'rd')

Ford    18
Ford    16
Ford    17
Ford    17
Ford    15
        ..
Ford    26
Ford    19
Ford    21
Ford    18
Ford    19
Name: city08, Length: 3644, dtype: int64

In [386]:
# error because of duplicate index
# city2.filter(items = ['Ford', 'Subaru'])

In [387]:
songs

{'index': ['Paul', 'John', 'George', 'Ringo'],
 'data': [145, 142, 38, 13],
 'name': 'counts'}

In [388]:
city2.filter(regex='(Ford)|(Subaru)')

Subaru    17
Subaru    21
Subaru    22
Ford      18
Ford      16
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 4605, dtype: int64

## 10.8 Reindexing

In [389]:
# .reindex allows you to pull out values by index label.
# returns a series with the order of the index labels provided
# errors if duplicate index labels
# city2.reindex[['Missing', 'Ford']]

In [390]:
city_mpg.reindex([0, 0, 10, 20, 2_000_000])

0          19.0
0          19.0
10         23.0
20         14.0
2000000     NaN
Name: city08, dtype: float64

Use if you have a series that have portions of index labels that are the same and you want one to have the index of the other

In [391]:
s1 = pd.Series([10, 20, 30], index = ['a', 'b', 'c'])

In [392]:
s2 = pd.Series([15, 25, 35], index = ['b', 'c', 'd'])

In [393]:
s1

a    10
b    20
c    30
dtype: int64

In [394]:
s2

b    15
c    25
d    35
dtype: int64

In [395]:
s2.reindex(s1.index)

a     NaN
b    15.0
c    25.0
dtype: float64

## 10.10 Exercises

In [396]:
df.index

RangeIndex(start=0, stop=44986, step=1)

In [397]:
df.sort_index()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44981,13.523182,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44982,12.935217,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44983,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44984,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44985,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [398]:
df.reset_index()

,index,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44981,44981,13.523182,0.0,0.0,0.0,19,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44982,44982,12.935217,0.0,0.0,0.0,20,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44983,44983,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44984,44984,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44985,44985,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [399]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [400]:
df.index

RangeIndex(start=0, stop=44986, step=1)

In [401]:
df.index.map(str)

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '44976', '44977', '44978', '44979', '44980', '44981', '44982', '44983',
       '44984', '44985'],
      dtype='object', length=44986)

In [402]:
s2 = df.set_index(df.index.map(str))

In [403]:
s2.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '44976', '44977', '44978', '44979', '44980', '44981', '44982', '44983',
       '44984', '44985'],
      dtype='object', length=44986)

In [404]:
s2['0':'4']

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [405]:
df[0:4]

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [406]:
s2[-5:]

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
44981,13.523182,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44982,12.935217,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44983,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44984,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
44985,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [407]:
s2[10:110]

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
10,11.442692,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,12.396250,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,22.885385,0.0,0.0,0.0,12,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,15.658421,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
106,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
107,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
108,13.523182,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
109,16.528333,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [408]:
s2['10':'110']

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
10,11.442692,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
11,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
12,12.396250,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
13,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
14,22.885385,0.0,0.0,0.0,12,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,16.528333,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
107,14.167143,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
108,13.523182,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
109,16.528333,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
110,14.875500,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [409]:
s2.loc[['20', '10', '2']]

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
20,18.594375,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,11.442692,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [410]:
s2.iloc[[20, 10, 2]]

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
20,18.594375,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
10,11.442692,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

# Chapter 11

In [411]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [412]:
make.astype('string')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: string

Categorial strings offer a memory savings

In [413]:
make.astype('category')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: category
Categories (141, object): ['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo', ..., 'Volvo', 'Wallace Environmental', 'Yugo', 'smart']

## 11.3 The .str Accessor

In [414]:
'Ford'.lower()

'ford'

In [415]:
make.str.lower()

0        alfa romeo
1           ferrari
2             dodge
3             dodge
4            subaru
            ...
44981        subaru
44982        subaru
44983        subaru
44984        subaru
44985        subaru
Name: make, Length: 44986, dtype: object

In [416]:
'Alfa Romeo'.find('A')

0

In [417]:
make.str.find('A')

0        0
1       -1
2       -1
3       -1
4       -1
        ..
44981   -1
44982   -1
44983   -1
44984   -1
44985   -1
Name: make, Length: 44986, dtype: int64

Boolean strings

In [418]:
(make
.str
.startswith('A'))

0         True
1        False
2        False
3        False
4        False
         ...
44981    False
44982    False
44983    False
44984    False
44985    False
Name: make, Length: 44986, dtype: bool

In [419]:
(make
.str
.extract(r'([^a-z A-Z])', expand = False)
.value_counts())

-    1963
.      46
,       9
Name: make, dtype: int64

Search for non-numeric characters in a column

In [420]:
(make
    .str.extract(r'([^0-9.])', expand = False)
    .value_counts()
)

C    5746
M    5332
F    3989
B    3140
G    2936
P    2835
D    2751
T    2398
S    2311
V    2149
H    2032
A    1838
J    1597
N    1577
L    1524
I     903
K     742
R     476
O     462
E     167
s      38
W      32
Y       8
Q       3
Name: make, dtype: int64

## 11.5 Splitting

In [421]:
age = pd.Series(['0-10', '11-15', '11-15', '61-65', '46-50'])

In [422]:
age

0     0-10
1    11-15
2    11-15
3    61-65
4    46-50
dtype: object

In [423]:
age.str.split('-')

0     [0, 10]
1    [11, 15]
2    [11, 15]
3    [61, 65]
4    [46, 50]
dtype: object

Pull the first number from the list

In [424]:
(age
    .str.split('-', expand = True)
    .iloc[:,0]
    .astype(int))

0     0
1    11
2    11
3    61
4    46
Name: 0, dtype: int64

Or pull the tail end of the binned value

In [425]:
(age
    .str.split('-', expand = True)
    .iloc[:,1]
    .astype(int))

0    10
1    15
2    15
3    65
4    50
Name: 1, dtype: int64

In [426]:
(age
    .str.slice(-2)
    .astype(int))

0    10
1    15
2    15
3    65
4    50
dtype: int64

In [427]:
(age
    .str[-2:]
    .astype(int))

0    10
1    15
2    15
3    65
4    50
dtype: int64

In [428]:
(age
    .str
    .split('-', expand = True)
    .astype(int)
    .mean(axis = 'columns'))

0     5.0
1    13.0
2    13.0
3    63.0
4    48.0
dtype: float64

### Generate a random number between the number ranges

In [429]:
import random

In [430]:
def between(row):
    return random.randint(*row.values)

In [431]:
(age
    .str.split('-', expand = True)
    .astype(int)
    .apply(between, axis = 'columns'))

0     7
1    12
2    12
3    61
4    49
dtype: int64

In [432]:
age

0     0-10
1    11-15
2    11-15
3    61-65
4    46-50
dtype: object

## 11.6 Optimising .apply with Cython

In [436]:
%load_ext Cython

In [438]:
%%cython
import random
def between_cy(row):
    return random.randint(*row.values)

In [439]:
%%cython
import random
def between_cy3(row):
    return random.randint(*row.values)

In [440]:
%%cython
import random
cpdef int between_cy3(int x, int y):
    return random.randint(x, y)

In [443]:
%%timeit
(age
    .str.split('-', expand = True)
    .astype(int)
    .apply(between_cy, axis = 'columns'))

284 µs ± 1.24 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [444]:
%%timeit
(age
    .str.split('-', expand = True)
    .astype(int)
    .apply(between, axis = 'columns'))

287 µs ± 3.76 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [446]:
%%timeit
(age
    .str.split('-', expand = True)
    .astype(int)
    .apply(lambda row: between_cy3(row[0], row[1]), axis = 1))

300 µs ± 1.07 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [447]:
(age
    .str.split('-', expand = True)
    .astype(int)
    .apply(lambda row: between_cy3(row[0], row[1]), axis = 1))

0     6
1    12
2    14
3    62
4    50
dtype: int64

In [453]:
%prun -l 10 (age.str.split('-', expand = True).astype(int).apply(lambda row: between_cy3(row[0], row[1]), axis = 1))

         1517 function calls (1498 primitive calls) in 0.003 seconds

   Ordered by: internal time
   List reduced from 295 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
       11    0.000    0.000    0.000    0.000 typing.py:1374(cast)
        1    0.000    0.000    0.003    0.003 {built-in method builtins.exec}
  329/327    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        4    0.000    0.000    0.000    0.000 {pandas._libs.lib.maybe_convert_objects}
      3/2    0.000    0.000    0.001    0.000 series.py:323(__init__)
        1    0.000    0.000    0.000    0.000 {pandas._libs.lib.map_infer_mask}
      2/1    0.000    0.000    0.000    0.000 base.py:397(__new__)
        5    0.000    0.000    0.001    0.000 construction.py:470(sanitize_array)
       10    0.000    0.000    0.000    0.000 series.py:943(__getitem__)
        3    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}

In [459]:
%%cython
cimport numpy as np
import numpy as np
import random
cpdef np.ndarray[int] apply_between_cy4(np.ndarray[int] x, np.ndarray[int] y):
    cdef np.ndarray[int] res = np.empty(len(x), dtype = 'int32')
    for i in range(len(x)):
        res[i] = random.randint(x[i], y[i])
    return res

In file included from /Users/mattrosinski/.cache/ipython/cython/_cython_magic_1853a3090135ffc884abaa007259ecae.c:722:
In file included from /Users/mattrosinski/mambaforge/lib/python3.9/site-packages/numpy/core/include/numpy/arrayobject.h:5:
In file included from /Users/mattrosinski/mambaforge/lib/python3.9/site-packages/numpy/core/include/numpy/ndarrayobject.h:12:
In file included from /Users/mattrosinski/mambaforge/lib/python3.9/site-packages/numpy/core/include/numpy/ndarraytypes.h:1960:
/Users/mattrosinski/mambaforge/lib/python3.9/site-packages/numpy/core/include/numpy/npy_1_7_deprecated_api.h:17:2: warning: "Using deprecated NumPy API, disable it with "          "#define NPY_NO_DEPRECATED_API NPY_1_7_API_VERSION" [-W#warnings]
#warning "Using deprecated NumPy API, disable it with " \
 ^
1 warning generated.

In [461]:
%%timeit
(age
    .str.split('-', expand=True)
    .astype(int)
    #.apply(between, axis = 'columns')
    .pipe(lambda df_: apply_between_cy4(df_.iloc[:,0].to_numpy(dtype='int32'),
                                       df_.iloc[:,1].to_numpy(dtype='int32')))
)

186 µs ± 1.11 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [462]:
(age
    .str.split('-', expand=True)
    .astype(int)
    #.apply(between, axis = 'columns')
    .pipe(lambda df_: apply_between_cy4(df_.iloc[:,0].to_numpy(dtype='int32'),
                                       df_.iloc[:,1].to_numpy(dtype='int32')))
)

array([10, 14, 14, 64, 48], dtype=int32)

## 11.7 Replacing Text

In [463]:
make.str.replace('A', 'Å')

0        Ålfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [465]:
# This version attempts to replace the entire string and there are no makes with the name 'A'
make.replace('A', 'Å')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [467]:
# Replace with a dictionary
make.replace(
    {
        'Audi':'Åudi', 'Alfa Romeo':'Ålfa Romeo'
    })

0        Ålfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [468]:
make.replace('A', 'Å', regex=True)

0        Ålfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
44981        Subaru
44982        Subaru
44983        Subaru
44984        Subaru
44985        Subaru
Name: make, Length: 44986, dtype: object

In [471]:
make.str.contains(pat='alfa', case=False, na=False)

0         True
1        False
2        False
3        False
4        False
         ...
44981    False
44982    False
44983    False
44984    False
44985    False
Name: make, Length: 44986, dtype: bool

In [502]:
make.str.contains(pat=r'(alfa)|(ferrari)|(ford)', case=False, na=False, regex=True)

/var/folders/xh/wmkr9jls0634tfc2zgq5yzk40000gn/T/ipykernel_23392/1016223558.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  make.str.contains(pat=r'(alfa)|(ferrari)|(ford)', case=False, na=False, regex=True)

0         True
1         True
2        False
3        False
4        False
         ...
44981    False
44982    False
44983    False
44984    False
44985    False
Name: make, Length: 44986, dtype: bool

In [495]:
import re
make.str.extract(pat=r'(alfa)|(subaru)|(ford)|(dodge)', flags=re.IGNORECASE, expand=True, )

          0       1    2      3
0      Alfa     NaN  NaN    NaN
1       NaN     NaN  NaN    NaN
2       NaN     NaN  NaN  Dodge
3       NaN     NaN  NaN  Dodge
4       NaN  Subaru  NaN    NaN
...     ...     ...  ...    ...
44981   NaN  Subaru  NaN    NaN
44982   NaN  Subaru  NaN    NaN
44983   NaN  Subaru  NaN    NaN
44984   NaN  Subaru  NaN    NaN
44985   NaN  Subaru  NaN    NaN

[44986 rows x 4 columns]

### Extract the matching values with a column for each group in the regex

In [515]:
make.str.extractall(pat=r'(alfa romeo)|(dodge)|(romeo)', flags=re.IGNORECASE)

                      0      1    2
      match
0     0      Alfa Romeo    NaN  NaN
2     0             NaN  Dodge  NaN
3     0             NaN  Dodge  NaN
14    0             NaN  Dodge  NaN
25    0             NaN  Dodge  NaN
...                 ...    ...  ...
44892 0             NaN  Dodge  NaN
44893 0             NaN  Dodge  NaN
44953 0             NaN  Dodge  NaN
44964 0             NaN  Dodge  NaN
44975 0             NaN  Dodge  NaN

[2736 rows x 3 columns]

### Get dummy variables for columns with categorical values

In [517]:
make.str.get_dummies()

,AM General,ASC Incorporated,Acura,Alfa Romeo,American Motors Corporation,Aston Martin,Audi,Aurora Cars Ltd,Autokraft Limited,Avanti Motor Corporation,...,Toyota,VPG,Vector,Vixen Motor Company,Volga Associated Automobile,Volkswagen,Volvo,Wallace Environmental,Yugo,smart
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Count the frequency of regex patterns

In [526]:
make.str.count(pat=r'(a)|(d)|(l)|(o)|(s)', flags=re.IGNORECASE)

0        5
1        1
2        3
3        3
4        2
        ..
44981    2
44982    2
44983    2
44984    2
44985    2
Name: make, Length: 44986, dtype: int64

In [530]:
make.str.zfill(width=10)

0        Alfa Romeo
1        000Ferrari
2        00000Dodge
3        00000Dodge
4        0000Subaru
            ...
44981    0000Subaru
44982    0000Subaru
44983    0000Subaru
44984    0000Subaru
44985    0000Subaru
Name: make, Length: 44986, dtype: object

In [531]:
make.str.pad(width=10, fillchar='_')

0        Alfa Romeo
1        ___Ferrari
2        _____Dodge
3        _____Dodge
4        ____Subaru
            ...
44981    ____Subaru
44982    ____Subaru
44983    ____Subaru
44984    ____Subaru
44985    ____Subaru
Name: make, Length: 44986, dtype: object